.u-clickable
  cursor: pointer

.u-absolute
  position: absolute

.u-relative
  position: relative

.u-none
  display: none !important

.u-hidden
  visibility: hidden !important

.u-noborder
  border: none !important
